<!DOCTYPE html>
<html>
<head>
    <title>Sparkplug_Stack hostapp</title>
    <link href="static/pico.min.css" rel="stylesheet">
</head>
<body>

<h1>Sparkplug Stack HostApp</h1>

<h2>Devices</h2>
<table>
    <tr>
        <th>GroupId</th>
        <th>EdgeNodeID</th>
        <th>DeviceID</th>
        <th>Connected</th>
        <th>Last Birth</th>
        <th>Last Death</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.GroupId}}</td>
        <td>{{.EdgeNodeID}}</td>
        <td>{{.DeviceID}}</td>
        <td>{{if .LastDeath}}
                {{if isOlder .LastBirth .LastDeath}}
                    no
                {{ else}}
                    yes
                {{end}}
            {{else}}
                Yes
            {{end}}
        </td>
        <td>{{.LastBirth}}</td>
        <td>{{ with .LastDeath}}{{.}}{{end}}</td>

    </tr>
    {{end}}
</table>

<div id="result"></div>

</body>
</html>
