<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sparkplug_Stack host app</title>
    <link href="static/pico.min.css" rel="stylesheet">
</head>
<body>

<h1>Sparkplug Stack HostApp</h1>

<h2>Devices</h2>
<table>
    <tr>
        <th>Group</th>
        <th>Node</th>
        <th>Connected</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.GroupId}}</td>
        <td>
            <a href="/node/{{.GroupId}}/{{.EdgeNodeId}}{{if .DeviceId}}/{{.DeviceId}}{{end}}">
                {{.EdgeNodeId}}{{if .DeviceId}}.{{.DeviceId}}{{end}}
            </a>
        </td>
        <td>{{.IsOnline}}</td>

    </tr>
    {{end}}
</table>

</body>
</html>
