{{define "title"}}Node {{.Node.GroupId}}/{{.Node.EdgeNodeId}}/{{.Node.DeviceId}}{{end}}

{{define "main"}}
    <div class="header">
        <h1>Sparkplug_Stack node {{.Node.GroupId}}/{{.Node.EdgeNodeId}}/{{.Node.DeviceId}}</h1>
        <h2>Devices</h2>
    </div>

    <table>
    <thead>
        <tr><th scope="col">Property</th><th scope="col">Value</th></tr>
    </thead>
    <tr><th scope="row">GroupId</th><td>{{.Node.GroupId}}</td></tr>
    <tr><th scope="row">EdgeNodeId</th><td>{{.Node.EdgeNodeId}}</td></tr>
    <tr><th scope="row">DeviceId</th><td>{{.Node.DeviceId}}</td></tr>
    <tr><th scope="row">LastBirth</th><td>{{.Node.LastBirth}}</td></tr>
    <tr><th scope="row">LastDeath</th><td>{{ with .Node.LastDeath}}{{.}}{{end}}</td></tr>
</table>
<h2>Metrics</h2>
<table>
    <tr><th>Name</th><th>Alias</th><th>Timestamp</th><th>Datatype</th><th>Send</th></tr>
    {{range .Node.Metrics}}
        <tr>
            <td>"{{.Name}}"</td>
            <td>{{.Alias}}</td>
            <td>{{.Timestamp}}</td>
            <td>{{index $.DataTypes .DataType}}</td>
            <td>
                {{if eq .DataType 11 }}
                <form>
                    <div>
                        <label for="valuebool">Value
                            <input type="checkbox" id="valuebool" name="valuebool" value="{{.ValueBool}}" />
                        </label>
                        <button role="button" type="submit">OK</button>
                    </div>
                </form>
                {{end}}
            </td>
        </tr>
    {{end}}
</table>
{{end}}